* {
  font-family: "Segoe UI VSS (Regular)","-apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

html, body {
  margin: 0;
  height: 100%
}

/*Rectangle bar class styling*/

.bar:hover {
  fill: #003366;
}

.bar2:hover {
  fill:coral;
}

.bar3:hover {
  fill: darkgreen;
}

/*Text class styling*/

.text {
  fill: white;
  font-family: sans-serif
}

.text2{
  fill: white;
  font-family: sans-serif
}

.text3 {
  fill: white;
  font-family: sans-serif
}

.bar {
  fill: steelblue;
}

.bar2 {
  fill: orange;
}

.bar3 {
  fill: mediumseagreen;
}

#blue {
  color: steelblue;
  margin-right: 0.75em;
}

#orange {
  color: orange;
  margin-right: 0.75em;
}

#green {
  color: mediumseagreen;
  margin-right: 0.75em;
}

#actual-value {
  margin-left: 0.25em;
}

#projected-value {
  margin-left: 0.25em;
}

#latest-value {
  margin-left: 0.25em;
}