html, body {
  margin: 0;
  height: 100%
}

/*Rectangle bar class styling*/

.bar:hover {
  fill: #003366;
}

.bar2:hover {
  fill:coral;
}

.bar3:hover {
  fill: darkgreen;
}

/*Text class styling*/

.text {
  fill: white;
  font-family: sans-serif
}

.text2{
  fill: white;
  font-family: sans-serif
}

.text3 {
  fill: white;
  font-family: sans-serif
}

.bar {
  fill: steelblue;
}

.bar2 {
  fill: orange;
}

.bar3 {
  fill: mediumseagreen;
}
