* {
  font-family: "Segoe UI VSS (Regular)","-apple-system",BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

html, body {
  margin: 0;
  height: 100%
}

/*Rectangle bar class styling*/

.bar:hover {
  fill: #003366;
}

.bar2:hover {
  fill:coral;
}

.bar3:hover {
  fill: darkgreen;
}

/*Text class styling*/

.text {
  fill: white;
  font-family: sans-serif
}

.text2{
  fill: white;
  font-family: sans-serif
}

.text3 {
  fill: white;
  font-family: sans-serif
}

.bar {
  fill: steelblue;
}

.bar2 {
  fill: orange;
}

.bar3 {
  fill: mediumseagreen;
}

#blue {
  color: steelblue;
  margin-right: 0.75em;
}

#orange {
  color: orange;
  margin-right: 0.75em;
}

#green {
  color: mediumseagreen;
  margin-right: 0.75em;
}

#orig-value {
  margin-left: 0.5em;
  text-align: center;
}

#le-value {
  margin-left: 0.5em;
  text-align: center;
}

#ctd-value {
  margin-left: 0.5em;
  text-align: center;
}

.vertical-center, .value-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.container-fluid {
  height: 100%;
}
.row {
  height: 100%;
}
i {
  color: silver;
}
i:hover {
  color: #333;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.max-height, center {
  height: 100%;
}
#chart {
  height: 100%;
}
svg {
  margin-top: 4.0em;
}
.value-box {
  margin-left: 2em;
  font-size: 20px;
}
#epic-name {
  margin-top: 1em;
}
.value-title {
  font-weight: 600;
}   

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 5px;
  text-align: center;
}