    #kpiTable {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    #kpiTable td, #kpiTable th {
        border: 1px solid #ddd;
        padding: 8px;
    }       
    #kpiTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
    #kpiTable tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    i {
        margin-left: 0.75em;
    }
    .inline {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0.3em;
        display: -webkit-inline-box;
        font-size: 10px;
    }
    .red {
        color: red;
    }
    .yellow {
        color: #ffd000;
    }
    .green {
        color: #4CAF50;
    }